/*GENERAL*/
* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #445E93;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;     /* flexible baseline */
    line-height: 1.4;
  }
  
  /*Navbar*/
  .navbar {
    width: 80%;
    overflow:auto;
    margin:auto;
  }
  
  .nav-logo {
    float: left;
    padding: 15px;
    text-decoration: none;
    width: 13%;
  }
  
  .navbar a {
    float: right;
    padding: 25px;
    text-decoration: none;
    font-size: 2vw;
    color: #FCECC9;
  }
  
  .navbar a:hover {
    color: #7EB2DD;
  }
  
  /*Scroll back to top of page*/
  #btp-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 1.5vw;
    font-family: 'Courier New', Courier, monospace;
    border: none;
    outline: none;
    background-color: #F37F9C;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    transition: all 0.3s;
    
  }
  
  #btp-btn:hover {
    background-color: #7EB2DD;
    transition: all 0.3s;
  }
  
  /*Responsive page footers*/
  .seig-dood {
    max-width: 100%;
    height: auto;
  }
  
  /*HOME PAGE*/
  
  /*Page Headings*/
  .page-headings {
    width: 70%;
  }
  
  h1 {
      text-align: center;
      margin-top: 110px;
      margin-bottom: 15px;
      font-size: 44px;
      line-height: 62px;
      font-weight: 400;
      color: white;
  }
  
  /*Label Light*/
  .label-light {
    margin-top: 77px;
    margin-bottom: 18px;
    text-align: center;
    letter-spacing: 0.2em;
    color: #FCB0B3;
    font-size: 1.3vw;
  }
  
  /*Small (Motto) Heading*/
  .heading-small {
    text-align: center;
    font-size: 1.3vw;
    font-size: 2.5vw;
    color: white;
  }
  
  /*Line Separater*/
  hr {
    margin: 100px;
    color: #FCECC9;
  }
  
  /*Main Flexbox responsive CSS for ABOUT section columns*/
  .parent {
    display: flex;
  }
  
  .item {
    width: 50%;
    padding: 2em;
    color: #ffffff;
    min-height: 500px;
  }
  
  /*Media query detecting viewport width*/
  @media screen and (max-width: 600px){
    
    .parent {
      flex-direction: column-reverse;  
    }
    
    .item {
      width: auto;
      min-height: 200px;
    } 
  }
  
  /*ABOUT SECTION*/
  
  /*Label Light-left*/
  .label-light-left {
    color: #FCB0B3;
    font-size: 1.5vw;
  }
  
  /*Who We Are Heading*/
  .wwa-heading-small {
    font-size: 2.5vw;
    color: white;
  }
  
  /*Button-left*/
  .button-left {
    background-color: #F37F9C;
    border: none;
    color: white;
    padding: 12px 26px;
    text-align: center;
    display: inline-block;
    font-size: 1vw;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0.2em;
    line-height: 25px;
    transition: all 0.3s;
  }
  
  .button-left:hover {
    background-color: #7EB2DD;
    transition: all 0.3s;
    cursor: pointer;
  }
  
  /*WWA Image*/
  .wwa-image {
    width: 100%;
    height: auto;
  }
  
  /*OUR CAFE + QUIZ SECTION*/
  
  /*Label Light-right*/
  .label-light-right {
    color: #FCB0B3;
    font-size: 1.5vw;
  }
  
  /*Our Quiz! Heading*/
  .oq-heading-small {
    font-size: 2.5vw;
    color: white;
  }
  
  /*Button-right*/
  .button-right {
    background-color: #F37F9C;
    border: none;
    color: white;
    padding: 12px 26px;
    text-align: center;
    display: inline-block;
    font-size: 1vw;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0.2em;
    line-height: 25px;
    transition: all 0.3s;
  }
  
  .button-right:hover {
    background-color: #7EB2DD;
    transition: all 0.3s;
    cursor: pointer;
  }
  
  /*OQ Image*/
  .oq-image {
    width: 100%;
    height: auto;
  }
  
  /*License Label Light*/
  .license-label-light {
    text-align: center;
    color: #FCECC9;
    font-size: 1.3vw;
  }
  
  /*QUIZ PAGE*/
  
  /*SweetAlert2 button*/
  .sweetalert2 {
    cursor: pointer;
    background-color: #445E93;
    border:none; 
    border-radius: 3px;
    padding: 10px;
    text-decoration: none;
    margin-bottom: -5%;
  }
  
  /*QUIZ PROGRAM*/
  .app {
    background: #FBDADC;
    max-width: 60%;
    margin: 100px auto 0;
    border-radius: 25px;
    padding: 30px;
  }
  
  .app h1 {
    font-size: 25px;
    color: #7EB2DD;
    font-weight: 600;
    border-bottom: 1px solid #F37F9C;
    padding-bottom: 30px;
  }
  
  .quiz {
    padding: 20px 0;
  }
  
  .quiz h2 {
    color: #445E93;
    font-weight: 600;
  }
  
  /*Multi-choice buttons*/
  .btn {
    background: #FFF;
    color: #445E93;
    font-size: 1.3vw;
    font-weight: 800;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    border: 0px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .btn:hover:not([disabled]){
    background: #ADCCEB;
    color: #fff;
  }
  
  .btn:disabled{
    cursor: no-drop;
  }
  
  /*"Next question" button*/
  #next-btn {
    background: #F37F9C;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 1.5vw;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
  }
  
  #next-btn:hover {
    background-color: #7EB2DD;
    transition: all 0.3s;
    cursor: pointer;
  }
  
  /*Hide next button when user is answering question - prevents user from breaking program*/
  
  
  /*correct + incorrect answers*/
  .correct{
    background: #8ace7e;
  }
  
  .incorrect{
    background: #ff684c;
  }
  
  /*Japanese Culture Descriptions*/ 
  .paragraph-light-center {
    color: #FCECC9;
    font-size: 1.3vw;
    max-width: 60%;
  }
  
  /*OUR VALUES + FOOD AND DRINK*/
  /*Column Headings*/
  .heading-small-columns {
    text-align: center;
    font-size: 3vw;
    color: white;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  h2 {
    text-align: center;
    color: #FCB0B3;
    font-size: 2vw;
  }
  
  .our-value-headings {
    text-align: center;
    color: #FCB0B3;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2vw;
  }
  
  .s-desc {
    color: #FCECC9;
    text-align: center;
    margin: 35px;
    font-size: 1vw;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
  }
  
  .item {
    flex-basis: 100%;
  }
  
  /*OUR FOOD PAGE*/
  
  
  
  /*for onenote evidence*/
  
  /*motto-heading*/
  .box-1 {
    margin-left: 15%;
    margin-right: 15%;
    border-width: 8px;
    border-color: #7EB2DD;
    border-style: double;
  }
  
  .motto-heading {
    writing-mode: vertical-lr;
    margin: auto;
    height: 350px;
    width: 300px;
    text-orientation: upright;
  }
  
  /*japanese-culture-description*/
  .box-2 {
    margin-left: 10%;
    margin-right: 10%;
    border-width: 8px;
    border-color: #7EB2DD;
    border-style: double;
  }
  
  /*cafe-menu-section*/
  .box-3 {
    margin-left: 6%;
    margin-right: 6%;
    border-width: 8px;
    border-color: #7EB2DD;
    border-style: double;
  }
  
  /*about + cafe section*/
  
  
  